.about {
  margin-top: 80px;
}

.about-div {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.about-info {
  width: 50%;
}

/* PHOTO */

.about-photo-container {
  width: 35%;
  position: relative;
  display: table;
}

.about-photo {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s linear
}
.opaque { opacity: 1; }
.clear { opacity: 0; }

/* TEXT */

.about-text-container {
  width: 50%;
}

.about-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: white;
  line-height: 28px;
}

.about-text a {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.about-text a:hover {
  color: #eaeaea;
}

/* CONTACT */

.contact {
  margin-top: 50px;
}

.contact-grouping {
  display: flex;
  justify-content: flex-start;
}

.contact-item {
  display: table;
  margin: 10px;
  margin-left: 0;
}

.contact-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
}

i {
  color: white;
  font-size: 50px !important;
}

.clickable:hover {
  color: gray;
}
