.soundcloud-div {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.soundcloud {
  height: 400px;
  width: 400px;
  margin: 20px;
  -webkit-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 6px 0px rgba(0,0,0,0.75);
}
