#contact-info {
  width: 90%;
  margin: 0 auto;
}

.contact-grouping {
  display: flex;
  justify-content: center;
}

.contact-item {
  display: table;
  margin: 10px;
}

.contact-text {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
}

i {
  color: white;
  font-size: 50px !important;
}

.clickable:hover {
  color: gray;
}
