#personal {
  width: 1150px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 30px;
  padding-top: 50px;
  text-align: center;
}

#personal h1 {
  font-weight: 500;
  font-size: 50px;
}

#personal h2 {
  margin: 15px;
}

#personal a:hover {
  color: #9E423A;
}

.personal-tracks {
  display: flex;
  justify-content: space-between;
}

.personal-tracks iframe {
  margin-top: 40px;
  width: 540px;
  height: 400px;
}
