/*SCORING PORTFOLIO*/
#portfolio {
  width: 1150px;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 50px;
  text-align: center;
}

#portfolio-header {
  font-weight: 500;
  font-size: 50px;
}

.portfolio-vids {
  display: flex;
  justify-content:center;
}

.portfolio-descriptions {
  margin-top: 40px;
  margin-right: 50px;
  width: 400px;
  height: 360px;
  text-align: right;
}

.portfolio-desc-header {
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  padding-top: 30px;
}

.portfolio-desc-type {
  font-size: 25px;
  margin: 10px;
}

.portfolio-desc-client {
  font-size: 25px;
  margin: 10px;
}

/*Video ratio is 16:9*/
.portfolio-vids iframe {
  margin-top: 40px;
  width: 640px;
  height: 360px;
}

.portfolio-vids.left {

}

.portfolio-vids.right {

}
